# Copyright (c) 2025 Vladislav Zilkov <vladislav.zilkov@intel.com>
# SPDX-License-Identifier: Apache-2.0

config HWW_FAKEE
        bool "FAKEE Hardware driver"
        default n
        help
          Enables driver for the FAKEE prints as a hardware device. 